body{
    text-align: center;
    margin: 200px 400px;
    border-style: solid ;
    border-color: black;
    border-width: 7px;
    border-spacing: 5px;
    padding: 50px 50px 50px 50px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
#b1{
    margin: 20px;
    font-size: large;
    
    background-color: green;
}
#b2{
    margin: 20px;
    font-size: large;
    
    background-color: red;
}
#b3{
    margin: 20px;
    font-size: large;
    background-color: yellow;
}
#h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}